{% extends "base.html" %}

{% block content %}
<form action="http://localhost:3003//tasks/edit/{{ output[0] }}" method="POST">
    <div class="new-task-form-group">
        <label for="taskName">Task Name</label>
        <input type="text"  class="form-control" id="taskName" name="taskName" aria-describedby="taskNameHelp"
               placeholder="task name" value="{{ output[1] }}">
        <small id="taskNameHelp" class="form-text text-muted"></small>
    </div>

    <div class="new-task-form-group">
        <label for="taskDetails">Task Details</label>
        <input type="text" class="form-control" id="taskDetails" name="taskDetails" aria-describedby="taskDetailsHelp"
               placeholder="task details" value="{{ output[2] }}">
        <small id="taskDetailsHelp" class="form-text text-muted"></small>
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
{% endblock %}