{% extends 'base.html' %}

{% block title %}Add task{% endblock %}

{% block content %}
    <div>
        <table class="table-responsive" style="width: 100%">
            <tr align="center">
                <th>Id</th>
                <th>Name</th>
                <th>Details</th>
                <th>Started On</th>
                <th>Completed On</th>
                <th>Time Spent</th>
                <th>Action</th>
            </tr>
            {% for key,val in tasks.items() %}
                <tr align="center">
                    <td>{{ key }}</td>
                    <td>{{ val['name'] }}</td>
                    <td>{{ val['details'] }}</td>
                    <td>{{ val['started_on'] }}</td>
                    <td>{{ val['completed_on'] }}</td>
                    <td>{{ val['time_spent'] }}</td>
                    <td align="left">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a class="btn-link" href="{{ url_for('edit_task', task_id=key) }}">Edit</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn-link" href="{{ url_for('mark_complete', task_id=key) }}">Complete</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn-link" href="{{ url_for('delete_task', task_id=key) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}